<h2>Winkelwagen</h2>

<div class="alert alert-info" ng-if="!items">
  Er zit nog niets in uw winkelwagen.
</div>

<form name="cartForm" role="form" ng-submit="submitCart()" novalidate ng-if="items">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Product</th>
        <th>Aantal</th>
        <th>Prijs</th>
        <th>Totaal</th>
      </tr>
    </thead>
      <tr ng-repeat="item in items">
        <td>{{item.wijn.naam}}</td>
        <td> <div class="col-md-4"> <input type="text" class="form-control input-sm" ng-model="item.aantal" name="quantity" id="quantity" value="1"></div></td>
        <td>{{item.wijn.prijs | currency: "€"}}</td>
        <td>{{ getTotal(item) | currency: "€"  }}</td>
        <td><a href="" ng-click="remove(item)"><i class="glyphicon glyphicon-remove"></i></a></td>
      </tr>
      <tr>
        <td>Totaal:</td>
        <td></td>
        <td></td>
        <td>{{ getTotalCart() | currency: "€" }} </td>
      </tr>
  </table>
    <button type="submit" class="btn btn-primary" value="bestellen">Bestel</button>
</form>

