<p>This is the contactpage.</p>

<form name="contactForm" role="form" ng-submit="submitContact()">
  <div class="form-group">
    <label for="name">Naam:</label>
    <input type="text" class="form-control" ng-model="name" placeholder="Brandon van Wijk" id="name">
  </div>

  <div class="form-group">
    <label for="email">Emailadres:</label>
    <input type="email" class="form-control" ng-model="email" placeholder="Brandonvanwijk@example.com" id="email" required>
  </div>

  <div class="form-group">
    <label for="subject">Onderwerp:</label>
    <input type="text" class="form-control" ng-model="subject" id="subject">
  </div>

  <div class="form-group">
    <label for="message">Bericht:</label>
    <input type="textarea" class="form-control" ng-model="message" id="message">
  </div>
  <button type="submit" class="btn btn-default" value="versturen">Verstuur</button>
</form>
