<p>This is the contactpage.</p>

<form name="contactForm" role="form" ng-submit="submitContact(contactForm.$valid)" novalidate>
  <div class="form-group">
    <label for="name">Naam:</label>
    <input type="text" class="form-control" name="name" ng-model="formModel.name" placeholder="Brandon van Wijk" id="name">
  </div>

  <div class="form-group" ng-class="{
    'has-error':!contactForm.email.$valid && !contactForm.$pristine,
    'has-success':contactForm.email.$valid && !contactForm.$pristine
   }
   ">
    <label for="email">Emailadres:</label>
    <input type="email" class="form-control" name="email" ng-model="formModel.email" placeholder="Brandonvanwijk@example.com" id="email" required>

  <p class="help-block" ng-show="contactForm.email.$error.required && !contactForm.$pristine">
    Dit veld is verplicht
  </p>
    <p class="help-block" ng-show="contactForm.email.$error.email && !contactForm.$pristine">
      Vul een valide mailadres in
    </p>
  </div>

  <div class="form-group">
    <label for="subject">Onderwerp:</label>
    <input type="text" class="form-control" name="subject" ng-model="formModel.subject" id="subject">
  </div>

  <div class="form-group">
    <label for="message">Bericht:</label>
    <input type="textarea" class="form-control" name="message" ng-model="formModel.message" id="message">
  </div>
  <button type="submit" class="btn btn-default" value="versturen">Verstuur</button>

  <pre> {{ formModel | json }}</pre>
</form>
