<p>This is the contactpage.</p>

<form role="form">
  <div class="form-group">
    <label for="name">Naam:</label>
    <input type="text" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="email">Emailadres:</label>
    <input type="email" class="form-control" id="email" required>
  </div>

  <div class="form-group">
    <label for="subject">Onderwerp:</label>
    <input type="text" class="form-control" id="subject">
  </div>

  <div class="form-group">
    <label for="message">Bericht:</label>
    <input type="textarea" class="form-control" id="message">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Verstuur</button>
</form>
