<h1>Actieoverzicht</h1>



<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="wijn in wijnen">
    <div class="item">
        <div class="item-image">
          <a href="#/">
            <img src="/../images/wijn.png">
          </a>
        </div>
        <div class="item-details">
            <h5>{{ wijn.naam}}</h5>
            <p>KOOP DAN ! | {{ wijn.prijs | currency }}</p>
            <hr>
            <div class="btn btn-default pull-right">
              <span class="button">
              <a href="/rode-wijnen/Cignozza Peregrinus IGT Toscana/p-17744_1 ">Meer info</a>
              </span>
            </div>
        </div>
    </div>
  </div>
</div>
