<form ng-submit="generate_link()" autocomplete="off" class="form">
  <table class="table table-condensed">
    <tr>
      <td>Email</td>
      <td><input ng-model="email" type="email" value="test" /></td>
    </tr>
  </table>
  <div ng-show="verstuurd" class="alert alert-success">
    Er is een mail gestuurd naar het opgegeven email adres.
  </div>
  <div ng-show="foutemail" class="alert alert-danger">
    Er is geen gebruiker gevonden met het opgegeven email adres!
  </div>
  <button class="btn btn-primary">Annuleer</button>
  <button class="btn btn-success" type="submit">Wijzigen</button>
</form>
