<html style="font-family: &quot;Helvetica Neue Light&quot;, &quot;HelveticaNeue-Light&quot;, &quot;Helvetica Neue&quot;, Calibri, Helvetica, Arial;background-color: #FAFAFA;">
<head>
    <style>
        html, body {
            font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
            background-color: #FAFAFA;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>
<body style="font-family: &quot;Helvetica Neue Light&quot;, &quot;HelveticaNeue-Light&quot;, &quot;Helvetica Neue&quot;, Calibri, Helvetica, Arial;background-color: #FAFAFA;">
    <table class="container" style="width: 800px;border-collapse: collapse;margin: 10px auto;background-color: #fff;">
        <tr>
            <td>
                <p>
                    Beste supportmedewerker,
                </p>
                <p>
                    {{ message }}
                </p>
                <p>
                    Met vriendelijke groet, <br>
                    {{ name }}
                </p>
            </td>
        </tr>
    </table>
</body>
</html>
